.chat {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  margin: 12px 12px 12px 0;
  height: calc(100% - 270px);
}

.chat > h1 {
  background: grey;
  text-align: center;
}

.chat-message-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.chat-message {
  color: black;
}

.chat-send-box {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.chat-send-box > input {
  width: 100%;
}
